* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background: transparent;

}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio {
    padding: 0 10px;
    color: #ffffff;
}

#clock {
    background-color: #64727D;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background-color: #437306;
}

#memory {
    background-color: #9b59b6;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #f1c40f;
}

#pulseaudio.muted {
    background-color: #90b1b1;
}

#workspaces {
    padding: 0 5px;
}

#workspaces button {
    padding: 0 3px;
    color: #ffffff;
}

#workspaces button.focused {
    background-color: #2980b9;
}

#workspaces button.urgent {
    background-color: #f53c3c;
}

#workspaces button.empty {
    color: #90b1b1;
}

#workspaces .taskbar-window {
    padding: 0 2px;
    color: #ffffff;
}

#workspaces .taskbar-window.focused {
    background-color: #437306;
}
